@media (min-width: 1400px) {

    #favorit .img2 {
        bottom: -70px;
        right: -115px;
    }

    /* ===favorit part end === */

    /* -===kota part start === */
    #kota {
        text-align: center;
    }

    /* -===kota part end === */

    /* ===contact part start === */
    #contact {
        text-align: center;
    }

    #contact .main {
        justify-content: center;
        gap: 30px;
        margin-bottom: 50px;
    }

    /* ===contact part end === */

    /* ===footer part start === */
    footer {
        text-align: center;
    }

    footer .social_icon {
        justify-content: center;
    }

    /* ===footer part end === */
}

@media (min-width: 1200px) and (max-width: 1399.98px) {

    #favorit .img2 {
        bottom: -70px;
        right: -115px;
    }

    /* ===favorit part end === */

    /* -===kota part start === */
    #kota {
        text-align: center;
    }

    /* -===kota part end === */

    /* ===contact part start === */
    #contact {
        text-align: center;
    }

    #contact .main {
        justify-content: center;
        gap: 30px;
        margin-bottom: 50px;
    }

    /* ===contact part end === */

    /* ===footer part start === */
    footer {
        text-align: center;
    }

    footer .social_icon {
        justify-content: center;
    }

    /* ===footer part end === */
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    .heading {
        font-size: 36px;
        margin-bottom: 60px;
    }

    /* common css end  */

    /* ===banner part start === */
    #banner {
        padding: 230px 0 150px 0;
        text-align: center;
    }

    #banner h1 {
        font-size: 42px;
    }

    #banner input {
        padding-left: 45px;
    }

    #banner form::after {
        font-size: 20px;
        left: 18px;
        top: 20px;
    }

    /* ===banner part end === */

    /* properiti part start  */
    #properiti {
        padding: 80px 0;
        text-align: center;
    }

    /* properiti part end  */

    /* ===favorit part start === */
    #favorit {
        padding: 80px 0 80px 0;
        text-align: center;
    }

    #favorit .img2 {
        width: 300px;
    }

    #favorit .img2 img {
        width: 100%;
    }

    #favorit .buttons {
        gap: 30px;
        justify-content: center;
    }

    #favorit .img2 {
        bottom: -70px;
        right: -115px;
    }

    /* ===favorit part end === */

    /* -===kota part start === */
    #kota {
        text-align: center;
    }

    /* -===kota part end === */

    /* ===contact part start === */
    #contact {
        text-align: center;
    }

    #contact .main {
        justify-content: center;
        gap: 30px;
        margin-bottom: 50px;
    }

    #contact .main .item {
        padding: 13px;
    }

    /* ===contact part end === */

    /* ===footer part start === */
    footer {
        text-align: center;
    }

    footer .social_icon {
        justify-content: center;
    }

    /* ===footer part end === */
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .heading {
        font-size: 36px;
        margin-bottom: 60px;
    }

    /* common css end  */

    /* ===navbar part start === */
    #navbar ul {
        background-color: white;
    }

    #navbar ul li {
        padding: 15px 0;
    }

    /* ===navbar part end === */

    /* ===banner part start === */
    #banner {
        padding: 200px 0 100px 0;
        text-align: center;
    }

    #banner h1 {
        font-size: 42px;
    }

    #banner input {
        padding-left: 45px;
    }

    #banner form::after {
        font-size: 20px;
        left: 18px;
        top: 20px;
    }

    /* ===banner part end === */

    /* properiti part start  */
    #properiti {
        padding: 80px 0;
        text-align: center;
    }

    #properiti article.last-item {
        margin-top: 40px;
    }

    /* properiti part end  */

    /* ===favorit part start === */
    #favorit {
        padding: 80px 0 80px 0;
        text-align: center;
    }

    #favorit .img2 {
        right: -15px;
        bottom: -40px;
        width: 300px;
    }

    #favorit .img2 img {
        width: 100%;
    }

    #favorit .buttons {
        gap: 30px;
        justify-content: center;
    }

    /* ===favorit part end === */

    /* -===kota part start === */
    #kota {
        text-align: center;
    }

    /* -===kota part end === */

    /* ===contact part start === */
    #contact {
        text-align: center;
    }

    #contact .main {
        justify-content: center;
        gap: 30px;
        margin-bottom: 50px;
    }

    #contact .main .item {
        padding: 13px;
    }

    #contact .content h4 {
        margin-bottom: 0;
    }

    #contact .content {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    /* ===contact part end === */

    /* ===footer part start === */
    footer {
        text-align: center;
    }

    footer .social_icon {
        justify-content: center;
    }

    /* ===footer part end === */
}

@media (min-width: 576px) and (max-width: 767.98px) {

    .heading {
        font-size: 30px;
        margin-bottom: 45px;
    }

    /* common css end  */

    /* ===navbar part start === */
    #navbar ul {
        background-color: white;
    }

    #navbar ul li {
        padding: 15px 0;
    }

    /* ===navbar part end === */

    /* ===banner part start === */
    #banner {
        padding: 194px 0 94px 0;
        text-align: center;
    }

    #banner h1 {
        font-size: 37px;
    }

    #banner input {
        padding-left: 30px;
    }

    #banner form::after {
        font-size: 18px;
        left: 10px;
        top: 21px;
    }

    /* ===banner part end === */

    /* properiti part start  */
    #properiti {
        padding: 70px 0;
        text-align: center;
    }

    #properiti article.last-item {
        margin-top: 40px;
    }

    /* properiti part end  */

    /* ===favorit part start === */
    #favorit {
        padding: 70px 0 75px 0;
        text-align: center;
    }

    #favorit .img2 {
        right: 0;
        bottom: -40px;
    }

    #favorit .content .heading {
        margin-top: 80px;
    }

    #favorit .buttons {
        gap: 30px;
        justify-content: center;
    }

    /* ===favorit part end === */

    /* -===kota part start === */
    #kota {
        text-align: center;
    }

    #kota .card {
        margin-top: 30px;
    }

    #kota .card1 {
        margin-top: 0;
    }

    /* -===kota part end === */

    /* ===contact part start === */
    #contact {
        text-align: center;
    }

    #contact .main {
        justify-content: center;
        gap: 30px;
        margin-bottom: 50px;
    }

    #contact .main .item {
        padding: 13px;
    }

    #contact .content h4 {
        margin-bottom: 0;
    }

    #contact .content {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    /* ===contact part end === */

    /* ===footer part start === */
    footer {
        text-align: center;
    }

    footer .social_icon {
        justify-content: center;
    }

    /* ===footer part end === */
}

@media (max-width: 575.98px) {

    .heading {
        font-size: 27px;
    }

    /* common css end  */

    /* ===navbar part start === */
    #navbar ul {
        background-color: white;
    }

    #navbar ul li {
        padding: 15px 0;
    }

    /* ===navbar part end === */

    /* ===banner part start === */
    #banner {
        padding: 134px 0 70px 0;
        text-align: center;
    }

    #banner h1 {
        font-size: 30px;
    }

    #banner input {
        width: 100%;
        padding-left: 30px;
    }

    #banner button {
        width: 50%;
        margin: 30px auto;
    }


    #banner form::after {
        font-size: 18px;
        left: 10px;
        top: 21px;
    }

    /* ===banner part end === */

    /* properiti part start  */
    #properiti {
        padding: 60px 0;
        text-align: center;
    }

    #properiti article {
        margin: 20px 0;
    }

    /* properiti part end  */

    /* ===favorit part start === */
    #favorit {
        padding: 70px 0 65px 0;
        text-align: center;
    }

    #favorit .img2 {
        width: 230px;
        right: 0;
        bottom: -40px;
    }

    #favorit .img2 img {
        width: 100%;
    }

    #favorit .content .heading {
        margin-top: 80px;
    }

    #favorit .buttons {
        gap: 30px;
        justify-content: center;
    }

    /* ===favorit part end === */

    /* -===kota part start === */
    #kota {
        text-align: center;
    }

    #kota .card {
        margin-top: 30px;
    }

    #kota .card1 {
        margin-top: 0;
    }

    /* -===kota part end === */

    /* ===contact part start === */
    #contact {
        text-align: center;
    }

    #contact .main {
        justify-content: center;
        gap: 30px;
        margin-bottom: 50px;
    }

    /* ===contact part end === */

    /* ===footer part start === */
    footer {
        text-align: center;
    }

    footer .social_icon {
        justify-content: center;
        margin-top: 20px;
    }

    /* ===footer part end === */
}